.root {
    flex-grow: 1;
    background-color: rgb(240, 240, 245);
    width: 100%;
    height: 100%;
}

.header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2C6526;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 80px;
}

.footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2C6526;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 80px;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

Label {
    margin-left: 10px;
}


#unity-checkmark {
    background-color: #2C6526;
    font-size: 30px;
    border-color: black;
    border-width: 2px;
    height: 40px;
    width: 40px;
}

#unity-tracker {
    background-color: #2C6526;
    border-color: black;
    border-width: 2px;
    height: 40px;
    width: 100%;
}

#unity-dragger {
    background-color: white;
    border-color: black;
    border-width: 2px;
    height: 60px;
    width: 30px;
}

#cancel-button {
    border-color: black;
    border-width: 2px;
}

#save-button {
    border-color: black;
    border-width: 2px;
}
